<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.tintegro.mapper.ClienteNMapper">
	<resultMap id="ClienteNResultMap" type="pe.com.tintegro.dominio.ClienteN">
		<result property="idCliente" column="id_cliente" />
		<result property="noRazonSocial" column="no_razon_social" />
		<result property="ruc" column="ruc" />
		<result property="nuDocIde" column="nu_docide" />
		<result property="direcc" column="direccion" />
		<result property="telef" column="telefono" />
		<result property="correoEle" column="correo" />
		<result property="nuCentrales" column="nu_centrales" />		
		<result property="personRef" column="personareferencia" />
		<result property="estado" column="estado" />
		<result property="idTipdoc" column="idtipdoc" />
		<result property="nuDocumentoPref" column="nu_documento_pref" />
		<result property="idTipdocPref" column="idtipdocpref" />
		<result property="nuCelularPref" column="nu_celular_pref" />
		<result property="nuFijoPref" column="nu_fijo_pref" />
		<result property="totalRegistros" column="total_registros" />
		<result property="noTipo" column="no_tipo" />
		<result property="noTipoRef" column="no_tipo_ref" />
	</resultMap>

	<resultMap id="ClienteCRUD" type="pe.com.tintegro.dto.response.CRUDResponse">
		<result property="idResult" column="id_resulta"/>
		<result property="mensajeValidacion" column="no_mensaje" />
	</resultMap>

	<select id="listarClienteN" resultMap="ClienteNResultMap">
		select * from
		sistema.fn_listar_cliente_new(#{p_id_cliente},#{p_no_razon_social},#{p_nudocide},#{p_estado},#{p_nu_pagina},#{p_nu_reg_mostras})
	</select>	


	<!-- =============================================================== -->

	<select id="registrarClienteN" resultMap="ClienteCRUD">
		SELECT * from sistema.fn_regitrarcliente_new(#{p_no_razon_social},#{p_nu_docide},#{p_direccion},#{p_telefono},#{p_correo},#{p_personareferencia},#{p_estado},#{p_id_tipdoc},#{p_nu_documento_pref},#{p_id_tipdoc_pref},#{p_nu_celular_pref},#{nu_fijo_pref})
	</select>

	<!-- =============================================================== -->

	<select id="eliminarClienteN" resultMap="ClienteCRUD">
		select * from sistema.fn_eliminarcliente_new(#{p_id_cliente})
	</select>



	<select id="actualizarClienteN" resultMap="ClienteCRUD">
		select * from sistema.fn_actualizarcliente_new(#{p_id_cliente},
														#{p_no_razon},
														#{p_nu_docide},
														#{p_direccion},
														#{p_telefono},
														#{p_correo},
														#{p_persref},
														#{p_estado},
														#{p_id_tipdoc},
														#{p_nu_documento_pref},
														#{p_id_tipdoc_pref},
														#{p_nu_celular_pref},
														#{p_nu_fijo_pref})
	</select>

</mapper>