<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="pe.com.tintegro.mapper.ConstanteFisiologicaMapper">
	<resultMap id="ConstanteFisiologicaResultMap"
		type="pe.com.tintegro.dominio.ConstanteFisiologica">
		<result property="idConstanteFisiologica" column="id_constante_fisiologica" />
		<result property="peso" column="peso" />
		<result property="pulso" column="pulso" />
		<result property="temperatura" column="temperatura" />
		<result property="feRegistro" column="fe_registro" />
		<result property="idHistoriaClinica" column="id_historia_clinica" />
		<result property="idUnidad" column="id_unidad" />
	</resultMap>


	<resultMap id="HistoriaClinicaCRUD"
		type="pe.com.tintegro.dto.response.CRUDResponse">
		<result property="idResult" column="id_resulta" />
		<result property="mensajeValidacion" column="no_mensaje" />
	</resultMap>

	<!-- =============================================================== -->

	<select id="listarConstanteFisiologica"
		resultMap="ConstanteFisiologicaResultMap">
		select * from
		sistema.fn_listar_historia_constante_fisiologica_service(#{p_nu_chip},
		#{p_no_pass},
		#{p_id_instancia})
	</select>

	<!-- =============================================================== -->

</mapper>